	</div>
	<footer class="site-content">
		<div class="ui inverted vertical footer segment form-page">
			<div class="ui container">
				<p style="text-align:center;">
				Copyright	
				<i class="copyright outline icon"></i>
				| Made by Abhipsa
				</p>
			</div>
		</div>		
	</footer>
	
	
</body>
	
</html>